<h2>Cargar Nueva Posición</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">


  @if (errorMessages.length > 0) {
    <div class="error-messages">
      <h3>Error:</h3>
      <ul>
        @for (error of errorMessages; track error) {
          <li>{{ error }}</li>
        }
      </ul>
    </div>
  }


  <label>
    Empresa:
    <select formControlName="idEmpresa" required>
      <option value="" disabled>Seleccione empresa</option>
      @for (e of empresas; track e) {
        <option [value]="e.id">{{ e.razonSocial }}</option>
      }
    </select>
  </label>


  <label>
    Producto:
    <select formControlName="idProducto" required>
      <option value="" disabled>Seleccione producto</option>
      @for (p of productos; track p) {
        <option [value]="p.id">{{ p.nombre }}</option>
      }
    </select>
  </label>


  <label>
    Fecha de entrega:
    <input type="date" formControlName="fechaEntregaInicio" required />
  </label>


  <label>
    Moneda:
    <select formControlName="moneda" required>
      @for (moneda of monedas; track moneda.value) {
        <option [value]="moneda.value">{{ moneda.label }}</option>
      }
    </select>
  </label>


  <label>
    Precio:
    <input type="number" formControlName="precio" min="0.01" step="0.01" required />
  </label>


  <button type="submit" [disabled]="form.invalid">Crear</button>
</form>
